


{% load static %}
<!DOCTYPE html>
<html lang="en">
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/logo.png' %}">

<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Signup Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">

    
    <!--Stylesheet-->


</head>
<body>

    

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="POST">
       

        {% csrf_token %} 
        <h3>Signup Here</h3>

        <label for="username">Username</label>
        {{form.username}}

        <label for="email">Email</label>
        {{form.email}}

        <label for="password1">Password</label>
        {{form.password1}}


        <label for="password2">Confrom Password</label>
        {{form.password2}}
        
        <button type="submit">Signup</button>
        
        <a href="{% url 'loginpage' %}" >Already have an account?</a>
        {{form.errors}}
    </form>
    
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Enter Username';
        form_fields[2].placeholder='Enter Email';
        form_fields[3].placeholder='Enter Password';
        form_fields[4].placeholder='Re-Enter password';
        for (var field in form_fields){
            form_fields[field].className+='form-control'
        }
    </script>
</body>
</html>


